- rr = registration_request
%tr
  %td.org=     rr.organization_name
  %td.state=   rr.state
  %td.website= rr.website
  %th.actions
    = link_to "Show", [ :admin_admin, rr ], class: 'btn btn-xs btn-default'
    = link_to "Create group", '#', class: 'btn btn-xs btn-default'
    = link_to "Delete", [ :admin_admin, rr ], method: 'delete', class: 'btn btn-xs btn-danger', data: { confirm: t("sure_to_delete") }
