- @page_id = "aa_rr_index"
- @navbar_item = :requests

= page_head

.row
  .col-md-12
    %table.table.rr
      %thead
        %tr
          %th.org     Organization
          %th.state   State
          %th.website Website
          %th.actions

      - if @registration_requests.blank?
        %tr
          %td{ colspan: 4 }= t "no_records"
      - else
        = render @registration_requests

.row
  .col-md-12.text-right
    - active_label = "Requests (#{RegistrationRequest.active.count})"
    - rejected_label = "Rejected (#{RegistrationRequest.rejected.count})"
    - if @showing_rejected
      #{link_to active_label, :admin_admin_registration_requests} | #{rejected_label}
    - else
      #{active_label} | #{link_to rejected_label, :rejected_admin_admin_registration_requests}

