- @page_id = 'registration_request_new'

.row.page-head
  .col-md-12
    %h3.page-title= raw t ".title", app_title: TenetConfig['app_title']
    %p.body= raw t ".body"

.row
  .col-md-12
    = form_errors @request, "Couldn't register your request", class: "alert alert-error"
    = form_for @request, url: :new_registration_request, html: { role: 'form' } do |f|
      .row
        .col-md-4
          %h4= t '.your_organization'
          .form-group
            = f.label :organization_name, t(".form.organization_name.label")
            = f.text_field :organization_name, class: "form-control", placeholder: t(".form.organiztion_nane.placeholder"), data: { bind: 'value: organizationName, valueUpdate: "afterkeydown"' }
          .form-group
            = f.label :state, t(".form.state.label")
            = f.select :state, options_from_collection_for_select(sorted_states, 'code', 'name', @request.state), { prompt: "Pick state" }, class: "form-control", data: { bind: 'value: state' }
          .form-group
            = f.label :website, t(".form.website.label")
            = f.text_field :website, class: "form-control", placeholder: t(".form.website.placeholder"), data: { bind: 'value: website' }

        .col-md-offset-2.col-md-4
          %h4= t '.your_information'
          .form-group
            = f.label :admin_first_name, t(".form.admin_first_name.label")
            = f.text_field :admin_first_name, class: "form-control", placeholder: t(".form.admin_first_name.placeholder"), data: { bind: 'value: adminFirstName, valueUpdate: "afterkeydown"' }
          .form-group
            = f.label :admin_last_name, t(".form.admin_last_name.label")
            = f.text_field :admin_last_name, class: "form-control", placeholder: t(".form.admin_last_name.placeholder"), data: { bind: 'value: adminLastName, valueUpdate: "afterkeydown"' }
          .form-group
            = f.label :admin_title, t(".form.admin_title.label")
            = f.text_field :admin_title, class: "form-control", placeholder: t(".form.admin_title.placeholder"), data: { bind: 'value: adminTitle, valueUpdate: "afterkeydown"' }
          .form-group
            = f.label :admin_email, t(".form.admin_email.label")
            = f.text_field :admin_email, class: "form-control", placeholder: t(".form.admin_email.placeholder"), data: { bind: 'value: adminEmail, valueUpdate: "afterkeydown"' }
          .form-group
            = f.label :admin_phone, t(".form.admin_phone.label")
            = f.text_field :admin_phone, class: "form-control", placeholder: t(".form.admin_phone.placeholder"), data: { bind: 'value: adminPhone, valueUpdate: "afterkeydown"' }

      .row
        .col-md-8
          %p= t ".all_required"

      .row
        .col-md-6
          = f.submit t(".form.submit"), class: "btn btn-primary", data: { binds: 'enable: canSubmit' }
