!!!
%html
  %head
    %title CSF
    %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no", :name => "viewport"}

    = stylesheet_link_tag "csf/application", :media => "all"
    = csrf_meta_tags

  %body{ id: @page_id }
    .container
      = render "layouts/csf/header"
      = yield
      = render "layouts/csf/footer"

    = include_gon
    = javascript_include_tag "csf/application"
