%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapse{ type: "button", data: { toggle: "collapse", target: "#navbar" } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to :admin_admin_dashboard, class: "navbar-brand" do
        %span
          = image_tag t(".banner_image"), alt: t(".banner_image_alt_text")
          #{t("layouts.public.header.title")} Admin Console

    #navbar.collapse.navbar-collapse
      = render 'layouts/admin/header_links'

#app-title
  .container
    %h4= TenetConfig['app_title']
