- @page_id = "aa_groups_index"
- @navbar_item = :groups

= page_head

.row
  .col-md-12
    = link_to t('.add_group'), :new_admin_admin_group, class: 'btn btn-success pull-right'

.row
  .col-md-12
    %table.table.groups
      %thead
        %tr
          %th.joined  Joined
          %th.name    Name
          %th.state   State
          %th.users   Users
          %th.actions

      - if @accounts.blank?
        %tr
          %td{ colspan: 4 }= t "no_records"
      - else
        = render partial: 'account', collection: @accounts

.row
  .col-md-12.text-right
    - active_label = "Organizations (#{Account.active.count})"
    - suspended_label = "Suspended (#{Account.suspended.count})"
    - if @showing_suspended
      #{link_to active_label, :admin_admin_groups} | #{suspended_label}
    - else
      #{active_label} | #{link_to suspended_label, :suspended_admin_admin_groups}
