- @page_id = 'registration_request_new'

= page_head

.row
  .col-md-12
    %p.body= raw t ".body"

.row
  .col-md-6.col-md-offset-3
    = form_errors @request, "Couldn't register your request", class: "alert alert-error"
    = form_for @request, html: { role: 'form' } do |f|
      .form-group
        = f.label :organization_name, t(".form.organization_name")
        = f.text_field :organization_name, class: "form-control", placeholder: "TrustTheVote", data: { bind: 'value: organizationName, valueUpdate: "afterkeydown"' }
      .form-group
        = f.label :state, t(".form.state")
        = f.subregion_select :state, 'US', { prompt: "Pick state" }, class: "form-control", data: { bind: 'value: state' }
      .form-group
        = f.label :website, t(".form.website")
        = f.text_field :website, class: "form-control", placeholder: "http://myfoundation.org", data: { bind: 'value: website' }
      .form-group
        = f.label :admin_name, t(".form.admin_name")
        = f.text_field :admin_name, class: "form-control", placeholder: "John Smith", data: { bind: 'value: adminName, valueUpdate: "afterkeydown"' }
      .form-group
        = f.label :admin_title, t(".form.admin_title")
        = f.text_field :admin_title, class: "form-control", placeholder: "CEO", data: { bind: 'value: adminTitle, valueUpdate: "afterkeydown"' }
      .form-group
        = f.label :admin_email, t(".form.admin_email")
        = f.text_field :admin_email, class: "form-control", placeholder: "john@myfoundation.org", data: { bind: 'value: adminEmail, valueUpdate: "afterkeydown"' }
      .form-group
        = f.label :admin_phone, t(".form.admin_phone")
        = f.text_field :admin_phone, class: "form-control", placeholder: "(000) 000-0000", data: { bind: 'value: adminPhone, valueUpdate: "afterkeydown"' }

      = f.submit t(".form.submit"), class: "btn btn-default", data: { binds: 'enable: canSubmit' }
