!!!
%html
  %head
    %title= TenetConfig['app_title'] || 'Tenet'
    %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no", :name => "viewport"}

    = stylesheet_link_tag "tenet/application", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body{ id: @page_id }
    #wrap
      - unless @no_header
        = render "layouts/public/header"

      - content = render "layouts/public/content"
      - if @no_container
        = content
      - else
        .container= content

    - unless @no_footer
      = render "layouts/public/footer"

    = include_gon
    = javascript_include_tag "tenet/application"
    = javascript_include_tag "application"
